* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display:grid;
    justify-content: center;
}
.App{
    width: 800px;
    
}
.Post{
    display: grid;
    padding:  15px;
    border: darkgreen 2px solid;
    background-color: #39c980;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 90% 10%;
}
.PostHead{
    text-align: center;
}
.PostNF{
    display: grid;
    font-size: 20px;
    padding:  15px;
    border: darkgreen 2px solid;
    background-color: #39c980;
    margin-top: 15px;
    grid-template-columns: 100%;
    text-align: center;
}
.Separator{
    margin: 15px 0px;
}

.remove-btn {
    margin-right: 0.5rem;
}
  
.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.LoaderPosition{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}